#![enable(implicit_some)]
Container(
    transform: (
        anchor: Middle,
        width: 1.,
        height: 1.,
        percent: true,
    ),
    background: SolidColor(.1, .1, .1, 1.),
    children: [
        Label(
            transform: (
                id: "title",
                anchor: TopMiddle,
                stretch: X(
                    x_margin: 0,
                ),
                y: -50.,
                height: 100.,
                width: 100.,
            ),
            text: (
                text: "prasiolite",
                font_size: 100.,
                color: (.9, .9, .9, 1.),
            )
        ),
        Button(
            transform: (
                id: "exit-button",
                x: 0.0,
                y: -30.0,
                width: 300.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit",
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)